services:
  - type: web
    name: examin-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./build
    pullRequestPreviewsEnabled: true
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=0, must-revalidate
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    rootDir: frontend
    envVars:
      - key: REACT_APP_API_URL
        value: https://examin-backend-w4z6.onrender.com/api
